FATSECRET_CLIENT_ID=your_client_id
FATSECRET_CLIENT_SECRET=your_client_secret
FATSECRET_TOKEN_URL=https://oauth.fatsecret.com/connect/token
FATSECRET_API_URL=https://platform.fatsecret.com/rest
# Optional overrides for POST endpoints
FATSECRET_IMAGE_URL=https://platform.fatsecret.com/rest/2.0/image.recognition
FATSECRET_NLP_URL=https://platform.fatsecret.com/rest/1.0/natural-language-processing

