FATSECRET_AUTH_STRATEGY=client-credentials
# OAuth2 (Set FATSECRET_AUTH_STRATEGY=client-credentials)
FATSECRET_CLIENT_ID=your_client_id
FATSECRET_CLIENT_SECRET=your_client_secret
FATSECRET_TOKEN_URL=https://oauth.fatsecret.com/connect/token
FATSECRET_SCOPES=basic premier barcode
# OAuth1 (set FATSECRET_AUTH_STRATEGY=oauth1)
FATSECRET_CONSUMER_KEY=your_consumer_key
FATSECRET_CONSUMER_SECRET=your_consumer_secret
FATSECRET_ACCESS_TOKEN=your_access_token
FATSECRET_ACCESS_TOKEN_SECRET=your_access_token_secret
# Optional overrides for endpoints
FATSECRET_API_URL=https://platform.fatsecret.com/rest
FATSECRET_IMAGE_URL=https://platform.fatsecret.com/rest/2.0/image.recognition
FATSECRET_NLP_URL=https://platform.fatsecret.com/rest/1.0/natural-language-processing
